/* font related  */
.work-sans{
  font-family: "Work Sans";
  font-weight: 100 200 300 400 500 600 700;
}
*{
    margin: 0;
    margin-left: 0;
    padding: 0;
    width: auto;
}
/* shared style */
.btn-primary{
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    margin-top: 50px;

}
main{
    margin: 0 240px;
}

body{
    max-width: 1920px;
}


/* nav related style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
nav h3{
    color:  #131313;
    font-size: 2.8rem;
}
nav a{
    text-decoration: none;
    color:#424242;
    font-size: 1.2rem;
}
nav li{
}


/* banner related section */
.banner-section{
    margin-top: 100px;
    text-align: center;
}
.banner-contant{
    max-width: 868px;
    margin: 0 auto;
}
.banner-contant p{
    color:#727272;
    font-size: 16px;
}
.banner-contant h1{
    color:  #131313;
    font-size: 4rem;
}
.banner-section img{
    width: 100%;
    margin-top: 50px;
}

/* feachares team section */
.feachars-teams{
    display: flex;
    margin-top: 100px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}
.team-description{
    margin-left: 80px;
    margin-top: 200px;
}
.team-description h3{
    color: #131313;
    font-size: 2.8rem;
}
.span-1{
    color: #727272;
}
.span-2{
    color:#FF900E;
}
.team-description p{
    color: #727272;
    font-size: 1rem;
}

/* feachared section related style */
.feachared-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin: 100px auto;

}
.feachared-contant{
    width: 50%;
}
.box{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.images-contant img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feachared-contant h3{
    color: #131313;
    font-size: 2.28rem;
}
.feachared-contant p{
    color: #727272;
    font-size: 1rem;
}
.box h5{
    color: #131313;
    font-size: 1.2rem;
}
.box p{
    color: #727272;
    font-size: 1rem;
}
.box{
    margin-top: 10px;
    padding: 10px;
}
.exprience{
    border-radius: 8px;
    background: #FF900E;
    width: 250px;
    height: 100px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 150px;
    right: 100px;
}
.exprience h3{
    color: #FFF;
    font-size: 4rem;
}
.exprience p{
    color: #FFF;
    font-size: 1.5rem;
}

/* some fact realative style */
.fact-section{

}
.card-contant{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 50px;
}
.fact-section h3{
    color: #131313;
    font-size: 2.28rem;
}
.fact-section p{
    color: #727272;
    font-size: 1rem;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 60px;
    text-align: center;
}
.card h3{
    color: #424242;
    font-size: 2.28rem;
}
.card p{
    color: #727272;
    font-size: 1.2rem;
}


/* sponsors related style */
.sponsors-section{
    margin-top: 100px;
    text-align: center;
}
.sponsors-section h3{
    color: #131313;
    font-size: 2.8rem
}
.sponsors-section p{
    color: #727272;
    font-size: 1rem;
}
.sponsors-div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* footer related style */
footer{
    margin: 130px 240px 216px;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 50px 100px;
    max-height: 100px;
}
footer p{
    color:  #424242;
    font-size: 1.25rem;
}
.hide{
    display: none;
}
/* responsive related sayle */
/* mobaile small device */
@media  screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    main{
        margin: 0px;
        padding: 20px;
    }
    .feachars-teams{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .team-img{
        grid-template-columns:1fr;
        margin-top: 10px;
    }
    .team-description {
        width: auto;
        margin-top: 20px;
        margin-left: 0;
    }
    .feachared-section{
        flex-direction: column;
        margin: 0;
        /* padding: 20px; */
    }
    .feachared-contant{
        margin-top: 20px;
        width: 100%;
    }
    .exprience{
        position: static;
        padding: 20px;
    }
    .card-contant{
        flex-direction: column;
        margin-top: 20px;
    }
    .fact-section{
        margin-top: 50px;
    }
    .sponsors-div{
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }
    footer{
        margin: 0;
        padding: 20px;

    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: row;
    }
    main{
        margin: 0px;
        padding: 20px;
    }
    .feachars-teams{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .team-img{
        grid-template-columns:repeat(2,1fr);
        margin-top: 10px;
    }
    .team-description {
        width: auto;
        margin-top: 20px;
        margin-left: 0;
    }
    .feachared-section{
        flex-direction: column;
        margin: 0;
        /* padding: 20px; */
    }
    .feachared-contant{
        margin-top: 20px;
        width: 100%;
    }
    .exprience{
        position: static;
        padding: 20px;
    }
    .card-contant{
        flex-direction: column;
        margin-top: 20px;
    }
    .fact-section{
        margin-top: 50px;
    }
    .sponsors-div{
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }
    footer{
        margin: 0;
        padding: auto;

    }
    
}